@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes popUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-60px);
    }
  }

  .feedback-pop {
    @apply absolute font-bold text-green-400 pointer-events-none;
    animation: popUp 0.5s ease-out forwards;
  }
}
